<div class="navbar-fixed">
    <nav class="green darken-4">
      <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Farm<span class="hide-on-med-and-down orange-text text-lighten-1">Easy</span></a>
          </div>
      </div>
    </nav>
  </div>