<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/assets/style.css">
      <title>VIBGYOR Services</title>

    </head>

    <body>
        <!-- Navbar -->
        <% include partials/nav.ejs %>
        
        <!-- Form -->
        <section class="section scrollspy">
          <div class="container">
            <div class="row">
                <h4 class="green-text text-darken-4">Engineering services and farming</h4>
                <p>Approx.34% of the population are aged between 15-24 years in India. So the youth is basically the future of our country in which 72% of population in India earn their livelihood from Agriculture. But Agro Industry in India needs a major upgradation to use their resources efficiently. Often students withheld from taking courses or choosing agriculture as a career to due “beliefs”.
                  </p>
                <p>Here are some courses in India which promotes Farming as a career, or can be utilised in a smart way to improve current conditions:-</p>
            </div>
              <div class="row">
                <div class="col s12 m12">
                  <div class="card horizontal">
                    <div class="card-image">
                      <img src="/assets/img/e1.jpg">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <h6><strong>Bachelor Of Technology(Biotech)</strong></h6>
                        <p>Biotechnology, is the use of scientific and engineering principles in the 
                          biological materials processing of agents in order to provide goods and services for human use.
                          Nonetheless, Biotechnology has recently been coupled with the development of vital drugs.
                          So pursuing a career in biotech can help the huge farming industry by preventing the fraud faced by farmers and tell them the exact amount nutrients to be required for a crop to be grown.</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col s12 m12">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="/assets/img/e2.jpg">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <h6><strong>Bachelor Of Technology(Electronics)</strong></h6>
                          <p>Agriculture is just not limited to Greenhouses, it is very much beyond it. 
                            These projects deal with various tasks like, collecting various sensor data 
                            to storing them in memory for further use. GPS based tracking for 
                            Farm animals or gps tracker for vehicles used in farm. 
                            Use of non-conventional energy is increasing in farms, so solar tracker is 
                            proving very helpful for agricultural projects. Liquid level monitoring projects are not limited only to the water level measurement. They can monitor level of liquid fertilizers used in agricultural fields. The field of robotics in electronics engineering can advance us through goal.</p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                      <div class="card horizontal">
                        <div class="card-image">
                          <img src="/assets/img/e3.jpg">
                        </div>
                        <div class="card-stacked">
                          <div class="card-content">
                            <h6><strong>Bachelor Of Technology(Chemical)</strong></h6>
                            <p>Chemical engineering directly and indirectly impacts agriculture which helps in making it a productive and sustainable means to meet the increasing demand of human beings. It offers assistance in every level of agriculture making it a closely related stream to agriculture. The role of chemical engineering in agriculture is gaining importance with the increasing demand for agricultural output.
                              </p>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                
          </div>
      </section>
          
      <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
      <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      //Initializing scrollspy
      const scrollspy = document.querySelector('.scrollspy');
            M.ScrollSpy.init(scrollspy,{});

    </script>
     

    
  

            
            

      
      
    </body>
  </html>