<!DOCTYPE html>
  <html>
    <head>
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">

      <!-- Import Font awesome icon -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/assets/style.css">
      <title>Farm Easy</title>

    </head>

    <body>
        <!-- Navbar -->
            <div class="navbar-fixed">
                    <nav class="green darken-4">
                      <div class="container">
                        <div class="nav-wrapper">
                          <a href="#" class="brand-logo">Farm<span class="hide-on-med-and-down orange-text text-lighten-1">Easy</span></a>
                          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                          </a>
                          <ul class="right hide-on-med-and-down">
                            <li>
                              <a href="#initiatives">Initiatives</a>
                            </li>
                            <li>
                              <a href="#about">About</a>
                            </li>
                            <li>
                              <a href="/contact">Engineering</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>
            </div>
                  <ul class="sidenav" id="mobile-nav">
                    <li>
                      <a href="#initiatives">Initiatives</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="/contact">Engineering</a>
                    </li>
                  </ul>
        <!-- Services Slider -->
        <section class="slider">
                <ul class="slides">
                  <li>
                    <img src="/assets/img/s2.jpg"> 
                    <div class="caption right-align hide-on-small-only">
                      <h4 class="teal-text text-darken-4" style="font-family: 'Fjalla One', sans-serif; letter-spacing: 5px;"> <strong>Sustainability sets us apart. <br> Improvement keeps us ahead.</strong></h4>
                    </div>
                  </li>
                  <li>
                    <img src="/assets/img/s3.jpg"> 
                    <div class="caption left-align hide-on-small-only">
                      <h3 class="teal-text text-darken-4" style="font-family: 'Fjalla One', sans-serif; letter-spacing: 5px;">CONNECT.LEARN.GROW</h3>
                      <h4 class=" teal-text text-darken-4 hide-on-small-only">
                         <i>better your agriculture business here</i>
                      </h4>
                    </div>
                  </li>
                  <li>
                    <img src="/assets/img/s1.jpg"> 
                    <div class="caption left-align hide-on-small-only">
                        <h4 class="teal-text text-darken-4" style="font-family: 'Fjalla One', sans-serif; letter-spacing: 5px;">Real experiences. Real results.</h4>
                    </div>
                  </li>
                </ul>
        </section>

        <!-- Fixed Media Button -->
        <div class="fixed-action-btn">
            <a href="#" class="btn-floating btn-large indigo darken-4"> <i class="fab fa-facebook-f 7x"></i></a>
            <a href="#" class="btn-floating btn-large blue"><i class="fab fa-twitter 7x"></i></a>
            <a href="#" class="btn-floating btn-large red lighten-1"><i class="fab fa-google-plus-g 7x"></i></a>
        </div>

        <!-- Features -->
        <section id="initiatives" class="section section-icons grey lighten-4 center scrollspy">
                <div class="container">
                  <h4 class="green-text text-darken-4" style="font-family: 'Fjalla One', sans-serif; letter-spacing: 3px;">Initiatives</h4>
                  <div class="row">
                      <div class="col s12 m4">
                          <div class="card">
                            <div class="card-image">
                              <img src="/assets/img/f1.jpg" alt="farm1">
                            </div>
                            <div class="card-content">
                              <h6><strong>Pradhan Mantri Krishi Sinchai Yojana</strong></h6>
                              <p style="font-size: 12px">The overreaching vision of Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) is to ensure access to
                                  some means of protective irrigation to all agricultural farms in the country, to produce ‘per drop more
                                  crop’, thus bringing much desired rural prosperity.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                              <div class="card-image">
                                <img src="/assets/img/f2.jpg" alt="farm2">
                              </div>
                              <div class="card-content">
                                <h6><strong>PM-AASHA</strong></h6>
                                <p style="font-size: 12px">Giving a major boost to the pro-farmer initiatives of the government, the Union Cabinet chaired by Prime
                                    Minister Narendra Modi, approved a new Umbrella Scheme 'Pradhan Mantri Annadata Aay Sanrakshan
                                    Abhiyan' on September 12, 2018. This is an unprecedented step taken to protect the farmers’ income.</p>
                              </div>
                            </div>
                          </div>

                          <div class="col s12 m4">
                              <div class="card">
                                <div class="card-image">
                                  <img src="/assets/img/f3.jpg" alt="farm2">
                                </div>
                                <div class="card-content">
                                  <h6><strong>PM Mantri Fasal Bima Yojana</strong></h6>
                                  <p style="font-size: 12px">To resolve the problem of unpredictable nature of farming and prevent farmer suicides in the country, the
                                      Government launched PM Mantri Fasal Bima Yojana in early 2016. It’s a crop insurance policy with
                                      relaxed premium rates on the principal sum insured for farmers.</p>
                                </div>
                              </div>
                            </div>
            
                  </div>
                </div>
              </section>
            <!-- About -->
            <section id="about" class="section section-icons scrollspy">
                    <div class="container">
                      <div class="row">
                          <h2 class="green-text text-darken-4" style="font-family: 'Fjalla One', sans-serif; letter-spacing: 3px;">About Us</h2>
                          <blockquote>Agriculture is the backbone of the Indian Economy"- said Mahatma Gandhi six decades ago.</blockquote>
                          <p class="left-align" style="letter-spacing: 1px">Even today, the situation is still the same, with almost the entire economy being sustained by agriculture, which is the mainstay of the villages. It contributes 16% of the overall GDP and accounts for employment of approximately 52% of the Indian population. Rapid growth in agriculture is essential not only for self-reliance but also to earn valuable foreign exchange.</p>
                          <p class="left-align" style="letter-spacing: 1px">It is envisaged to make available relevant information and services to the farming community and private sector through the use of information and communication technologies, to supplement the existing delivery channels provided for by the department.<i>Farm Easy</i> is an endeavour in this direction to create one stop shop for meeting all informational needs relating to Agriculture production, sale/storage of an Indian farmer. With this Indian Farmer will not be required to sift through maze of websites created for specific purposes.</p>

                      </div>
                    </div>
                  </section>
                  <!-- Subscribe Channel -->
  <section class="section green darken-4 white-text center scrollspy">
      <div class="container">
          <div class="row">
              <form class="col s12">
                <h5>Enter email to subscribe to our newsletter</h5>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email Address</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                  </div>
                  <a class="waves-effect waves-light btn black">subscribe</a>
                </div>
              </form>
            </div>
      </div>
    </section>
            <!-- Contact -->
            <section id="contact" class="section section-contact scrollspy">
                    <div class="container">
                      <div class="row">
                        <div class="col s12 m12">
                          <div class="card-panel grey lighten-4 green-text text-darken-4 center">
                            <i class="material-icons">mail</i>
                            <h3>Farming made easy</h3>
                            <h5>Hire a professional now for complete guidance. </h5>
                            <a href="/pay" class=" green darken-4 waves-effect waves-light btn">Book Now</a>                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- Footer -->
      <footer class="page-footer green darken-4">
          <div class="container">
            <p class="flow-text">
              <h6 style="padding-bottom: 10px">2018 huntsend.com. All rights reserved.</h6>
            </p>
        </div>
        </footer>
    

                

      


      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
            // Initializing Sidenav
            const sideNav = document.querySelector('.sidenav');
            M.Sidenav.init(sideNav, {});
            // Initializing Slider
            const slider = document.querySelector('.slider');
            M.Slider.init(slider, {
                indicators: false,
                height: 400,
                transition: 2000,
                interval: 3000
            });
            //Initializing scrollspy
            const scrollspy = document.querySelector('.scrollspy');
            M.ScrollSpy.init(scrollspy,{});

            //Initializing fixed media icons
            const elems = document.querySelectorAll('.fixed-action-btn');
            M.FloatingActionButton.init(elems);
        
</script>

    </body>
  </html>