<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/assets/style.css">
      <title>VIBGYOR Services</title>

    </head>

    <body>
        <!-- Navbar -->
        <% include partials/nav.ejs %>
        <!-- Form -->
        <section class="section">
          <div class="container">
              <div class="row">
                      <div class="col s12 m12 l6">
                          <img class="responsive-img" src="/assets/img/3.jpg" style="margin-top:10%">
                      </div>
                      <div class="col s12 m12 l6">
                          <div class="card-panel green-text text-darken-4 white-text" style="margin-top:10%">
                              <h4 class="center-align">Ongoing</h4>
                               <h5 class="center-align">Continue to payment</h5>
                               <p>Please pay $20 to hire our professional who will be in touch with you within 6 working hours once the transaction is processed.</p>
                              <form action="/charge" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" 
                                    class="stripe-button"
                                    data-key= <%= stripePublishableKey %>
                                    data-amount="2000"
                                    data-name="Farm Easy"
                                    data-description="Farm solutions"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                                  </script>
                                  
                                  <script>
                                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';

                                    </script>
                                    <p class="center-align">
                                    <button type="submit" class="waves-effect waves-light btn green darken-4">Complete Payment $20</button>
                                    </p>
                                </form>
                                
                          </div>

                      </div>
              </div>
          </div>
      </section>
          
          

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  

            
            

      
      
    </body>
  </html>