<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/assets/style.css">
      <title>VIBGYOR Services</title>

    </head>

    <body class="grey lighten-4">
        <!-- Navbar -->
        <% include partials/nav.ejs %>
        <!--  -->
        <div class="section">
                <div class="container">
                    <div class="row">
                        <h3 class="green-text text-darken-4">Hired!</h3>
                        <h5>You successfully booked the service professional who will be in contact with you within 6 working hours. </p>
                        <a href="/" class="waves-effect waves-light btn green darken-4">Go Back Home</a>
                    </div>
                </div>
        </div>
          

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
            

      
      
    </body>
  </html>